mypy
autopep8
black
scipy
numpy
data-science-types
scikit-image
requests
czifile
sprunge.py
pyright
numba
imagecodecs>=2022.8.8
tifffile>=2022.8.12
torch
torchvision 
torchaudio
wakeonlan
pynvim
matplotlib
nbconvert>=7
mistune>=2
notebook==6.1.5
jupyter_contrib_nbextensions
jupyterlab
qtconsole
ipywidgets
papermill
